/*
	@name home
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 393px; width: 393px; height: 852px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg__home {
	top: 0px;
	left: 0px;
	width: 393px;
	height: 852px;
	background:rgba(255,255,255,1);
}


#logo_removebg_preview_1 {
	top: 0px;
	left: 0px;
	width: 393px;
	height: 650px;
}

#frame_1 {
	top: 714px;
	left: 51px;
	width: 291px;
	height: 52px;
}

#_bg__frame_1_ek1 {
	top: 0px;
	left: 0px;
	width: 291px;
	height: 52px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(138,80,255,1);
}


#comece_agora {
	top: 8.5px;
	left: 55.5px;
	width: 179.4px;
	height: 42.4px;
	overflow: hidden;
	font-family: Kurale;
	font-size: 24px;
	text-align: center;
	color:#FFFFFF;
}


#tenho_uma_conta {
	top: 650px;
	left: 84px;
	width: 222px;
	height: 49.8px;
	overflow: hidden;
	font-family: Kurale;
	font-size: 28px;
	text-align: center;
	color:#8A50FF;
}



/* Add your custom CSS here */
